	<style>
		.con{
		}
		.l {
		width: 50%;
		height: 100%;
		background: blue;
		float: left;
		text-align: center;
		}
		.r {
		width: 50%;
		height: 100%;
		background: green;
		float: right;
		text-align: center;
		}
	</style>